#movies img, #movie img, #movie {
  width:auto;
  height: 100%;
}

h5,h6{
  cursor: pointer;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

#i{
  width: 50px;
  height: auto;
}